@model AppTarefas.Models.Tarefa
@{
	ViewData["Title"] = "Cadastro de Tarefas";
}

<h1>Nova Tarefas</h1>
<fora asp-action="Create" method="post">

	<div class="form-group">
		<label>Título</label>
		<textarea asp-for="Titulo" class="form-control"></textarea>
	</div>

	<div class="form-group">
		<label>Descrição</label>
		<textarea asp-for="Descricao" class="form-control"></textarea>
	</div>

	<button type="submit" class="btn btn-success">Salvar</button>
	<a asp-controller="Tarefas" asp-action="Index" class="btn btn-secondary">Voltar</a>
</fora>