@{
	ViewData["Title"] = "Privacy Policy";
}
<div class="container py-5">

	<div class="text-center mb-5">
		<h1 class="display-4 fw-bold">Sobre Mim </h1>
	</div>


	<div class="row text-center justify-content-center">

		<div class="col-12 col-md-5 mb-4">
			<div class="card shadow-sm h-100">
				<img src="~/img/foto.jpeg" alt="Foto do Perfil" class="card-img-top img-fluid " />

				<div class="card-body">


					<h5 class="card-title">Maria Luiza</h5>
					<p class="card-text text-muted"> 17 anos</p>
					<p class="card-text text-muted"> Tecnologia de Sistema - Sesi\Senai</p>
				</div>
			</div>
		</div>

	</div>

